    {% if sites %}
    <table class="table" style="margin-top: 1em; width: 70em; font-size: 100%;">
        <tr style="background-color: #FFB2CC;">
            <th>Name of service</th>
            <th>Login</th>
            <th>Password</th>
            <th>Notes</th>
            <th></th>
        </tr>
    {% for site in sites %}
      <tr data-site-id="{{ site.id }}">
          <td class="site">
            {% if site.url %}
            <a href="{{ site.href }}">{{ site.name }}</a>
            {% else %}
            {{ site.name }}
            {% endif %}
          </td>
          <td class="login">{{ site.login }}</td>
          <td class="password">{{ site.password }}</td>
          <td class="notes">{{ site.notes }}</td>
          <td style="width: 4em;">
            <a class="glyphicon glyphicon-edit editLink" data-site-id="{{ site.id }}"></a>
            <a class="glyphicon glyphicon-remove removeLink" style="margin-left: 0.5em;" data-site-id="{{ site.id }}"></a>
          </td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
