<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">

    <script src="/static/js/jquery-2.0.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script>
      var sites = {};

      {% for site in sites %}
        sites['{{ site.id }}'] = {{ site.json|safe }};
      {% endfor %}

      function showDialog(site) {
          var dlg = $('#editDialog');
          dlg.on('shown.bs.modal', function() {
            $('#siteNameInput').focus();
          });
          dlg.on('hidden.bs.modal', function() {
            $('#siteNameInput').val('');
            $('#siteUrlInput').val(''); 
            $('#loginInput').val('');   
            $('#passwordInput').val('');
            $('#notesInput').val('');   
            $('.modal-title').text('Add site');
          });
          if (site) {
             $('#siteNameInput').val(site.name);
             $('#siteUrlInput').val(site.url); 
             $('#loginInput').val(site.login);   
             $('#passwordInput').val(site.password);
             $('#notesInput').val(site.notes);   
            $('.modal-title').text('Edit "' + site.name + '"');
          };
          $('#saveButton').click(function(e) {
            e.preventDefault();
            $.ajax({
              type: "POST",
              url: '/add-site/',
              data: {
                'name':  $('#siteNameInput').val(),
                'url':   $('#siteUrlInput').val(),
                'login':      $('#loginInput').val(),
                'password':   $('#passwordInput').val(),
                'notes':      $('#notesInput').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
              }
              })
              .done(function(html) {
                $('#sites').html(html);
                dlg.modal('hide');
              })
              .fail(function(data) {
                dlg.modal('hide');
                document.body.innerHTML = data.responseText;
              });
          })
          dlg.modal('show');
      }
      $(document).ready(function() {
        $('#addSiteButton').click(function(e) {
          e.preventDefault();
          showDialog();
        });
        $('.editLink').click(function(e) {
          e.preventDefault();
          var link = $(e.target);
          var site = sites[link.data('site-id')];
          showDialog(site);
        });
      });
    </script>
  </head>
  <body style="padding: 5em 5em;">
    <!--
    <button type="button" id="addSiteButton" class="btn btn-default" data-toggle="modal" data-target="#editDialog">Add site</button>
    -->
    <button type="button" id="addSiteButton" class="btn btn-default">Add site</button>
    <div id="sites">
    {% include "_sites.html" %}
    </div>

 <!-- Modal -->
  <div class="modal fade" id="editDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add site</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="siteName">Site name</label>
              <input type="text" class="form-control" id="siteNameInput" placeholder="Enter site name">
            </div>
            <div class="form-group">
              <label for="siteUrl">Site URL</label>
              <input type="text" class="form-control" id="siteUrlInput" placeholder="Enter site URL">
            </div>
            <div class="form-group">
              <label for="login">Login</label>
              <input type="text" class="form-control" id="loginInput" placeholder="Enter login">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" class="form-control" id="passwordInput" placeholder="Enter password">
            </div>
            <div class="form-group">
              <label for="notes">Notes</label>
              <textarea class="form-control" id="notesInput" placeholder="Enter notes"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="saveButton" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

    
  </body>
</html>
